<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginGoogle</servlet-name>
        <servlet-class>Controller.LoginGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>Controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchValueServlet</servlet-name>
        <servlet-class>Controller.SearchValueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageUserServlet</servlet-name>
        <servlet-class>Controller.AdminManageUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageCourseServlet</servlet-name>
        <servlet-class>Controller.AdminManageCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInformationCourseServlet</servlet-name>
        <servlet-class>Controller.UpdateInformationCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusServlet</servlet-name>
        <servlet-class>Controller.ChangeStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewScheduleServlet</servlet-name>
        <servlet-class>Controller.ViewScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageEmployeeServlet</servlet-name>
        <servlet-class>Controller.AdminManageEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationServlet</servlet-name>
        <servlet-class>Controller.InformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ButtonScheduleServlet</servlet-name>
        <servlet-class>Controller.ButtonScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewEmployeeServlet</servlet-name>
        <servlet-class>Controller.AddNewEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ButtonAddNewEmployeeServet</servlet-name>
        <servlet-class>Controller.ButtonAddNewEmployeeServet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseServlet</servlet-name>
        <servlet-class>Controller.AddCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>Controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendOTP</servlet-name>
        <servlet-class>Controller.SendOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitOTPServlet</servlet-name>
        <servlet-class>Controller.SubmitOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitFeedbackServlet</servlet-name>
        <servlet-class>Controller.SubmitFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeChangeInformationServlet</servlet-name>
        <servlet-class>Controller.TraineeChangeInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoardServlet</servlet-name>
        <servlet-class>Controller.DashBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffManageTraineeServlet</servlet-name>
        <servlet-class>Controller.StaffManageTraineeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffViewScheduleServlet</servlet-name>
        <servlet-class>Controller.StaffViewScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeManageInformationServlet</servlet-name>
        <servlet-class>Controller.TraineeManageInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>Controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeChangePasswordServlet</servlet-name>
        <servlet-class>Controller.TraineeChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCourseListServlet</servlet-name>
        <servlet-class>Controller.ShowCourseListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeAddToCartServlet</servlet-name>
        <servlet-class>Controller.TraineeAddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeSaveOrderServlet</servlet-name>
        <servlet-class>Controller.TraineeSaveOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeClassBooked</servlet-name>
        <servlet-class>Controller.TraineeViewSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeManagePurchaseServlet</servlet-name>
        <servlet-class>Controller.TraineeManagePurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeDeleteCartItemsServlet</servlet-name>
        <servlet-class>Controller.TraineeDeleteCartItemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeChooseScheduleServlet</servlet-name>
        <servlet-class>Controller.TraineeChooseScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeReoderServlet</servlet-name>
        <servlet-class>Controller.TraineeReoderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeViewClassDetail</servlet-name>
        <servlet-class>Controller.TraineeViewClassDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTraineeServlet</servlet-name>
        <servlet-class>Controller.AddTraineeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ButtonAddTraineeServlet</servlet-name>
        <servlet-class>Controller.ButtonAddTraineeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassManageServlet</servlet-name>
        <servlet-class>Controller.ClassManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffCourseListServlet</servlet-name>
        <servlet-class>Controller.StaffCourseListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomServlet</servlet-name>
        <servlet-class>Controller.AddRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResolveServlet</servlet-name>
        <servlet-class>Controller.ResolveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffManageClass</servlet-name>
        <servlet-class>Controller.StaffManageClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GiveFeedbackServlet</servlet-name>
        <servlet-class>Controller.GiveFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ButtonChangeroomServlet</servlet-name>
        <servlet-class>Controller.ButtonChangeroomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffListCourseToSign</servlet-name>
        <servlet-class>Controller.StaffListCourseToSign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ButtonSignCourseServlet</servlet-name>
        <servlet-class>Controller.ButtonSignCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewBookingServlet</servlet-name>
        <servlet-class>Controller.AdminViewBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffViewBooking</servlet-name>
        <servlet-class>Controller.StaffViewBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainerManageUser</servlet-name>
        <servlet-class>Controller.TrainerManageUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainerViewScheduleServlet</servlet-name>
        <servlet-class>Controller.TrainerViewScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeViewCartServlet</servlet-name>
        <servlet-class>Controller.TraineeViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPreviousServlet</servlet-name>
        <servlet-class>Controller.ViewPreviousServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeBookScheduleServlet</servlet-name>
        <servlet-class>Controller.TraineeBookScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeRequestChangeClassServlet</servlet-name>
        <servlet-class>Controller.TraineeRequestChangeClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeCheckTraineeRequested</servlet-name>
        <servlet-class>Controller.TraineeCheckTraineeRequested</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeSubmitRequestChangeClass</servlet-name>
        <servlet-class>Controller.TraineeSubmitRequestChangeClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeViewNotificationServlet</servlet-name>
        <servlet-class>Controller.TraineeViewNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeViewTheirCouse</servlet-name>
        <servlet-class>Controller.TraineeViewTheirCouse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraineeViewRequestChangeClass</servlet-name>
        <servlet-class>Controller.TraineeViewRequestChangeClass</servlet-class>
        <servlet-name>TraineeShowYourCourse</servlet-name>
        <servlet-class>Controller.TraineeShowYourCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelCourseOrderServlet</servlet-name>
        <servlet-class>Controller.CancelCourseOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillInformationServlet</servlet-name>
        <servlet-class>Controller.FillInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitOTPFillInformationServlet</servlet-name>
        <servlet-class>Controller.SubmitOTPFillInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitOTPRegisterServlet</servlet-name>
        <servlet-class>Controller.SubmitOTPRegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginGoogle</servlet-name>
        <url-pattern>/LoginGoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchValueServlet</servlet-name>
        <url-pattern>/SearchValueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageUserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageCourseServlet</servlet-name>
        <url-pattern>/managecourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInformationCourseServlet</servlet-name>
        <url-pattern>/UpdateInformationCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusServlet</servlet-name>
        <url-pattern>/ChangeStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewScheduleServlet</servlet-name>
        <url-pattern>/schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageEmployeeServlet</servlet-name>
        <url-pattern>/employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationServlet</servlet-name>
        <url-pattern>/InformationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ButtonScheduleServlet</servlet-name>
        <url-pattern>/ButtonScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewEmployeeServlet</servlet-name>
        <url-pattern>/AddNewEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ButtonAddNewEmployeeServet</servlet-name>
        <url-pattern>/ButtonAddNewEmployeeServet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourseServlet</servlet-name>
        <url-pattern>/AddCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendOTP</servlet-name>
        <url-pattern>/SendOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitOTPServlet</servlet-name>
        <url-pattern>/SubmitOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitFeedbackServlet</servlet-name>
        <url-pattern>/SubmitFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeChangeInformationServlet</servlet-name>
        <url-pattern>/TraineeChangeInformationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoardServlet</servlet-name>
        <url-pattern>/DashBoardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffManageTraineeServlet</servlet-name>
        <url-pattern>/trainee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffViewScheduleServlet</servlet-name>
        <url-pattern>/viewschedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeManageInformationServlet</servlet-name>
        <url-pattern>/information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeChangePasswordServlet</servlet-name>
        <url-pattern>/TraineeChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCourseListServlet</servlet-name>
        <url-pattern>/course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeAddToCartServlet</servlet-name>
        <url-pattern>/TraineeAddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeSaveOrderServlet</servlet-name>
        <url-pattern>/TraineeSaveOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeClassBooked</servlet-name>
        <url-pattern>/classbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeManagePurchaseServlet</servlet-name>
        <url-pattern>/purchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeDeleteCartItemsServlet</servlet-name>
        <url-pattern>/TraineeDeleteCartItemsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeChooseScheduleServlet</servlet-name>
        <url-pattern>/TraineeChooseScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeReoderServlet</servlet-name>
        <url-pattern>/TraineeReoderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeViewClassDetail</servlet-name>
        <url-pattern>/TraineeViewClassDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTraineeServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ButtonAddTraineeServlet</servlet-name>
        <url-pattern>/ButtonAddTraineeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassManageServlet</servlet-name>
        <url-pattern>/manageclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffCourseListServlet</servlet-name>
        <url-pattern>/listcourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomServlet</servlet-name>
        <url-pattern>/AddRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResolveServlet</servlet-name>
        <url-pattern>/ResolveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffManageClass</servlet-name>
        <url-pattern>/class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GiveFeedbackServlet</servlet-name>
        <url-pattern>/GiveFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ButtonChangeroomServlet</servlet-name>
        <url-pattern>/ButtonChangeroomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffListCourseToSign</servlet-name>
        <url-pattern>/signcourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ButtonSignCourseServlet</servlet-name>
        <url-pattern>/ButtonSignCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewBookingServlet</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffViewBooking</servlet-name>
        <url-pattern>/viewbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainerManageUser</servlet-name>
        <url-pattern>/manageuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainerViewScheduleServlet</servlet-name>
        <url-pattern>/trainerviewschedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeViewCartServlet</servlet-name>
        <url-pattern>/viewcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPreviousServlet</servlet-name>
        <url-pattern>/viewprevious</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeBookScheduleServlet</servlet-name>
        <url-pattern>/ChooseClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeRequestChangeClassServlet</servlet-name>
        <url-pattern>/RequestChangeClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeCheckTraineeRequested</servlet-name>
        <url-pattern>/CheckTraineeRequested</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeSubmitRequestChangeClass</servlet-name>
        <url-pattern>/SubmitRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeViewNotificationServlet</servlet-name>
        <url-pattern>/viewNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeViewTheirCouse</servlet-name>
        <url-pattern>/myCourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraineeViewRequestChangeClass</servlet-name>
        <url-pattern>/viewRequest</url-pattern>
        <servlet-name>TraineeShowYourCourse</servlet-name>
        <url-pattern>/yourcourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelCourseOrderServlet</servlet-name>
        <url-pattern>/CancelCourseOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillInformationServlet</servlet-name>
        <url-pattern>/FillInformationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitOTPFillInformationServlet</servlet-name>
        <url-pattern>/SubmitOTPFillInformationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitOTPRegisterServlet</servlet-name>
        <url-pattern>/SubmitOTPRegisterServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>Exception</exception-type>
        <location>/error.html</location>
    </error-page>
    <error-page>
        <error-code>505</error-code>
        <location>/error.html</location>
    </error-page>
</web-app>
