/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 6, 2023, 3:02:15 PM
    Author     : ADMIN
*/
html{
    height: 100%;
}
.sidebar{
    height: 100%;
}
button {
    font-family: monospace;
    background-color: #f3f7fe;
    color: #3b82f6;
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 45px;
    transition: .1s;
}

button:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}
option{
    overflow-y: scroll;
}
#select-box{
    height: 30px;
    overflow-y: auto;
    width: 150px;
    border-radius: 10px;
}
#select-box-option{
    height: 30px;
    overflow-y: auto;
    width: 250px;
    border-radius: 10px;
}
#select-box-course{
    height: 30px;
    overflow-y: auto;
    width: 300px;
    border-radius: 10px;
}
.button-schedule {
    padding: 12.5px 30px;
    width: 120px;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 45%;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.button-schedule:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

.button-schedule:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

