/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 4, 2023, 9:47:04 PM
    Author     : ADMIN
*/
.sidebar {
  background-color: #f8f9fa;
  padding: 20px;
  width: 250px;
  height: 100vh;
}

.sidebar h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.sidebar ul li a:hover {
  color: #007bff;
}

.sidebar ul li a .icon {
  margin-right: 10px;
}

.sidebar .divider {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

<<<<<<< Updated upstream
=======
.font{
    font-size: 15px;
    text-align: center;
}
.thead-dark{
    text-align: center;
}

>>>>>>> Stashed changes
