/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 22, 2023, 6:49:39 PM
    Author     : ADMIN
*/
.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
.message {
    box-shadow: var(--shadow-2), 0 0 0 100vw rgb(0 0 0 / 0.5);
    background: #fff;
    color: #222;
    border: 0;
    border-radius: 0.25rem;
    position: fixed;
    top: 40%;
    left: 40%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 10000;
}

.message::backdrop {
    background: rgb(0 0 0 / 0.5);
    opacity: 0;
}

.message[open] {
    animation: slide-up 1000ms forwards, fade-in 500ms forwards;
}

.message[closing] {
    animation: slide-up 1000ms forwards, fade-out 500ms forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

/* extra styling */

.message {
    max-width: 300px;

    & > * {
        margin: 0 0 0.5rem 0;
    }
}
