*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.inforTable{
    padding: 10rem 12%;
}
.container{
    display: flex;
    padding: 2.4rem 2.4rem 4.8rem;
}
.side-menu{
    border: 1px solid #d1d7dc;
    border-right: 0;
    width: 21.6rem;
}
.imageTrainee{
    display: flex;
    justify-content: center;
    padding: 1.6rem;
}
.imageContent{
    font-size: 3.2rem!important;
    width: 12rem!important;
    height: 12rem!important;
    background: #1c1d1f;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    object-fit: cover;
    color: #fff;
    font-family: var(--font-stack-heading);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 2.4rem;
    max-width: 36em;
}
.fullnameTrainee{
    text-align: center;
    padding: 0 1.6rem;
    font-family: var(--font-stack-heading);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.6rem;
}
.unstyle-list{
    list-style: none;
    padding: 2.4rem 0;
    margin: 0;
    padding: 0;
    max-width: none;
    display: block;
    list-style-type: disc;
    font-size: x-large;
    font-weight: 400;
    max-width: 60rem;
}
.unstyle-list li{
    padding-left: 0;
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
}

.unstyle-list a{
    color: #1c1d1f;
    display: block;
    padding: .4rem 1.6rem;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
}

.li-active {
    background-color: #333;
    color: #fff;
}
.main-content{
    border: 1px solid #d1d7dc;
    flex: 1;
    min-width: 1px;
}
.main-content-header{
    text-align: center;
    margin: 0 auto;
    max-width: 64.8rem;
    padding: 0 2.4rem;
    border-bottom: 1px solid #d1d7dc;
}
.main-content-header h1{
    font-family: var(--font-stack-heading);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 2.4rem;
    max-width: 36em;
}
.main-content-header p{
    margin-top: .8rem;
    font-family: var(--font-stack-text);
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.6rem;
    max-width: 60rem;
    display: block;
}
.content-body{
    min-height: 60rem;
    padding: 2.4rem 0;
}
.form-container{
    margin: 0 125px;
    max-width: 64.8rem;
    padding: 0 2.4rem;
}
input,select {
    color: #1c1d1f
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

input[disabled],select[disabled],textarea[disabled] {
    cursor: not-allowed
}
input{
    height: 4.8rem;
    border: 1px solid #1c1d1f;
    border-radius: 0;
    -webkit-appearance: none;
    padding: 0 1.6rem;
    width: 100%;
    font-family: var(--font-stack-text);
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.6rem;
    background-image: none;
}
.form-btn{
    text-align: center;
    margin-top: 3.2rem;
}
.form-btn button{
    background-color: #1c1d1f;
    color: #fff;
    height: 4.8rem;
    position: relative;
    align-items: center;
    border: none;
    cursor: pointer;
    display: inline-flex;
    min-width: 8rem;
    padding: 0 1.2rem;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: bottom;
    white-space: nowrap;
    font-family: var(--font-stack-heading);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.6rem;
    background-image: none;
}